@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Acme');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  user-select: none;
}

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #4d0026;
  color: #ffffff;
  font-family: 'Acme', serif;
  letter-spacing: 1px;
}

.vp-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.little-text {
  font-size: 12px;
}

.timemaker-Work, .timemaker-Rest, .timer {
  display: inline-block;
  width: 50vw;
  margin-top: 2rem;
}

.time-adjuster {
  margin: 0 1rem;
}

.incrementer-Work, .incrementer-Rest, .decrementer-Work, .decrementer-Rest {
  cursor: pointer;
}

.timer {
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.start-clock, .btn-clock {
  display: block;
  min-width: 25vw;
  margin: 1rem auto 0;
  padding: 1rem;
  background: #800040;
  color: #ffffff;
  border: 2px black solid;
  border-radius: 15px;
  font-size: 2rem;
  font-family: 'Acme', serif;
  cursor: pointer;
}

.btn-clock {
  display: none;
}

.status {
  margin-top: .5rem;
  font-size: 2rem;
  font-family: 'Acme', serif;
}

.timer-setter {
  font-size: 2rem;
}

.h2 {
  margin-top: 1rem;
}

#display-total {
  margin-top: 1rem;
}

.progress {
  position: fixed;
  bottom: 0;
  min-width: 100vw;
  min-height: 5vh;
  background-color: #800040;
}

.progress-bar {
  width: 0;
  min-height: 5vh;
  background-color: #ffb3d7;
}

.tomato {
  margin: 0;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -32%);
  max-width: 8vw;
}

.jello-horizontal {
  animation: jello-horizontal 0.9s 4 both;

}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1) translate(-50%, -32%);
    transform-origin: left;
  
  }
  30% {
    transform: scale3d(1.25, 0.75, 1) translate(-50%, -32%);
    transform-origin: left;

  }
  40% {
    transform: scale3d(0.75, 1.25, 1) translate(-50%, -32%);
    transform-origin: left;

  }
  50% {
    transform: scale3d(1.15, 0.85, 1) translate(-50%, -32%);
    transform-origin: left;

  }
  65% {
    transform: scale3d(0.95, 1.05, 1) translate(-50%, -32%);
    transform-origin: left;
  
  }
  75% {
    transform: scale3d(1.05, 0.95, 1) translate(-50%, -32%);
    transform-origin: left;
 

  }
  100% {

    transform: scale3d(1, 1, 1) translate(-50%, -32%);
    transform-origin: left;

  }
}