@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #4d0026;
  color: #ffffff;
}

.vp-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.little-text {
  font-size: 12px;
}

.timemaker, .timer {
  display: inline-block;
  width: 50vw;
  margin-top: 2rem;
}

.time-adjuster {
  margin: 0 1rem;
  font-family: 'Orbitron', sans-serif;
}

.incrementer, .decrementer {
  cursor: pointer;
  user-select: none;
}

.start-clock {
  background: #800040;
  color: #ffffff;
  border: 2px black solid;
  padding: 1rem;
  cursor: pointer;
}

.timer {
  font-family: 'Orbitron', sans-serif;
}

.start-clock {
  display: block;
  min-width: 100vw;
  margin-top: 2rem;
}